<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SABnzbd</title>

    <!-- Styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/styles.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SABnzbd</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/"><i class="icon-list-ul"></i> $T('menu-queue').capitalize</a></li>
            <li><a href="config"><i class="icon-wrench"></i> $T('menu-config').capitalize</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href=""><i class="icon-plus"></i> Add NZB</a></li>
            <li><a href=""><i class="icon-cogs"></i> Options</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-question"></i> Help <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="http://wiki.sabnzbd.org" target="_blank">$T('menu-wiki')</a></li>
								<li><a href="http://forums.sabnzbd.org" target="_blank">$T('menu-forums')</a></li>
								<li><a href="http://www.sabnzbd.org/live-chat" target="_blank">$T('menu-irc')</a></li>
								<li class="divider"></li>
								<li><a href="https://github.com/BeingTomGreen/sabstrap" target="_blank"><i class="icon-github"></i></i> sabstrap on Github</a></li>
								<li><a href="http://twitter.com/beingtomgreen" target="_blank"><i class="icon-twitter"></i> @beingtomgreen</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-off icon-white"></i> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Restart</a></li>
								<li><a href="#">Shutdown</a></li>
							</ul>
						</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
    	<!-- Queue -->
    	<h3><i class="icon-download-alt"></i> Queue</h3>
    	<hr />
    	<div class="container">
      	<div class="row item">
        	<div class="col-lg-12">
         	 <h4>NZB Name - 79% (254MB of 4687GB)</h4>
          	<p>Donec id elit non mi porta gravida at eget metus.</p>
        	</div>
      	</div>
      	<div class="row item">
        	<div class="col-lg-12">
         	 <h4>NZB Name - 79% (254MB of 4687GB)</h4>
          	<p>Donec id elit non mi porta gravida at eget metus.</p>
        	</div>
      	</div>
      	<div class="row item">
        	<div class="col-lg-12">
         	 <h4>NZB Name - 79% (254MB of 4687GB)</h4>
          	<p>Donec id elit non mi porta gravida at eget metus.</p>
        	</div>
      	</div>
      	<div class="row item">
        	<div class="col-lg-12">
         	 <h4>NZB Name - 79% (254MB of 4687GB)</h4>
          	<p>Donec id elit non mi porta gravida at eget metus.</p>
        	</div>
      	</div>
    	</div>

    	<!-- Queue -->
    	<h3><i class="icon-folder-close"></i> History</h3>
    	<hr />
    	<div class="container">
      	<div class="row item">
        	<div class="col-lg-12">
         	 <h4>NZB Name - 79% (254MB of 4687GB)</h4>
          	<p>Donec id elit non mi porta gravida at eget metus.</p>
        	</div>
      	</div>
    	</div>
    </div>

    <div class="container">
      	<div class="row">
        	<div class="col-lg-12 pager">
        		<hr />
          	<p><a href='https://github.com/BeingTomGreen/sabstrap'>sabstrab</a> by <a href='https://twitter.com/beingtomgreen'>Tom Green</a></p>
        	</div>
      	</div>
    </div>

    <!-- JavaScript -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>
